@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

body{
    font-family: 'Baloo', cursive;
}
/* home css */

.file {
    position: relative;
  }
  .file label {
    background: #39D2B4;
    padding: 5px 20px;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    transition: all .4s;
  }
  .file input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0.01;
    cursor: pointer;
  }
  .file input:hover + label,
  .file input:focus + label {
    background: #34495E;
    color: #39D2B4;
  }
  form {
    width: 225px;
    margin: 30 auto;
    text-align:center;
  }
  
  a{
      color:black;
  }
  a:hover{
    color: #39D2B4;
  }
  h1, h2 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
  }
  h2 {
    margin: 5px 0 2em;
    color: #39D2B4;
  }
  h2 + P {
    text-align: center;
  }
  input[type="text"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
} 
  .txtcenter {
    margin-top: 4em;
    font-size: .9em;
    text-align: center;
    color: #aaa;
  }
  .copy {
   margin-top: 2em; 
  }
  .copy a {
   text-decoration: none;
   color: #39D2B4;
  }
  /* button */
  .btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  
  .blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
  }
  
  .blue:hover {
    background-color: #6FC6FF;
  }

  .cards:hover{ 
    box-shadow: 1px 8px 20px grey;
   -webkit-transition:  box-shadow .2s ease-in;
 }
  
/* document css */
  .single-chart {
    width: 33%;
    justify-content: space-around ;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  
  .percentage {
    fill: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

